@import 'sass';

.CardOuter {
	height: 23rem;
	@media screen and (max-width: $breakpoint-medium) {
		height: 18rem;
	}
	padding-top: 4rem;
	border-radius: 10px;
	overflow: hidden;

	.CardInner {
		position: relative;
		height: 20rem;
		@media screen and (max-width: $breakpoint-medium) {
			height: 15rem;
		}
		overflow: visible;

		.Circle {
			z-index: 100;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $color-card-background;
			border: 1px solid $color-grey-dark;
			border-radius: 50%;
			height: 8rem;
			width: 8rem;
			padding: 1rem;
			@include flex-center;

			.Caption {
				font-size: 1rem;
				font-weight: 500;
				text-align: center;
				color: $color-blue;
			}
		}

		.Card {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			border-radius: 10px;
			border: 1px solid $color-grey-dark;
			background-color: $color-card-background;
			overflow: hidden;
			cursor: pointer;

			.CardText {
				position: absolute;
				transition: $transition-regular;
				z-index: 10;
				width: 100%;
				height: 100%;
				padding: 4rem 3rem 3rem;
				border-radius: 10px;
				background-color: rgba($color: $color-blue, $alpha: 0.75);
				overflow: hidden;
				&:hover {
					overflow: auto;
				}
				p {
					font-weight: 400;
					color: white;
				}
			}
			.CardBg {
				z-index: 2;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 90%;
				border-radius: 0 0 10px 10px;
				opacity: 0.5;
			}
		}
	}
}

.Reviews {
	position: relative;
	overflow: hidden;
	height: fit-content;
	@include section;

	.InnerWrapper {
		@include section-inner;

		.AboutSubSection {
			@include subsection-flex;

			.Content {
				@include section-content;
				opacity: 0;

				.Carousel {
					margin: 2rem auto;
					position: relative;
					width: 100%;
					max-width: 75rem;
				}

				&Show {
					@extend .Content;
					animation: fadeInLift 0.75s ease forwards;
				}
			}
		}
	}
}
