@import 'sass';

.Card {
	height: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 10px;
	overflow: hidden;
	.Header {
		padding: 0.5rem 1rem;
		width: 100%;
		height: fit-content;
		min-height: 4rem;
		flex-shrink: 0;
		background-color: $color-green;
		color: white;
	}
	.Review {
		width: 100%;
		flex-grow: 1;
		height: 15rem;
		flex-shrink: 1;
		position: relative;
		background-color: $color-background-main;
		padding: 1rem;
		p {
			font-size: 1.2rem;
			line-height: 1.5;
			height: 100%;
			width: 100%;
			text-align: left;
			overflow: hidden;
			&:hover {
				overflow: auto;
			}
		}
	}
}

.Reviews {
	position: relative;
	margin: 0 auto;
	@include width;
	@include bubble-container;

	.Bubble {
		@include bubble;
		.BubbleInner {
			@include bubble-inner;
			background-color: $color-section-background;
		}
	}
	.Content {
		@include content-div;
		// set padding here
		position: relative;
		padding: 2rem 0 4rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		.Carousel {
			margin: 2rem auto;
			position: relative;
			width: 90%;
			max-width: 75rem;
		}
	}

	&Show {
		@extend .Reviews;
		@include bubble-show;
	}
}
