@import 'sass';

.Card {
	height: 20rem;
	@media screen and (max-width: $breakpoint-medium) {
		height: 15rem;
	}
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 10px;
	overflow: hidden;
	.Header {
		padding: 0.5rem 1rem;
		width: 100%;
		height: fit-content;
		min-height: 4rem;
		flex-shrink: 0;
		background-color: $color-green;
		color: white;
	}
	.Review {
		width: 100%;
		flex-grow: 1;
		height: 15rem;
		flex-shrink: 1;
		position: relative;
		background-color: $color-background-main;
		padding: 1rem;
		p {
			font-size: 1.2rem;
			line-height: 1.5;
			height: 100%;
			width: 100%;
			text-align: left;
			overflow: hidden;
			&:hover {
				overflow: auto;
			}
		}
	}
}

.Reviews {
	position: relative;
	overflow: hidden;
	height: fit-content;
	@include section;

	.InnerWrapper {
		@include section-inner;

		.AboutSubSection {
			padding: 0 5%;
			gap: 0;

			.Content {
				@include section-content;

				.Carousel {
					margin: 2rem auto;
					position: relative;
					width: 100%;
					max-width: 75rem;
				}
			}
		}
	}
}
