@import 'sass';

.Services {
	position: relative;
	margin: 0 auto;
	@include width;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0.75rem;

	.Service {
		position: relative;
		z-index: 0;
		width: 100%;
		@include height-sm;

		.Serv {
			position: absolute;
			top: 0;
			// left: 50%;
			width: calc(50% - calc($margin / 2));
			height: 100%;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&Name {
				padding: 2rem;
				z-index: 1;
				left: 25%;
				// transform: translateX(calc(-50% + -5px));
				@extend .Serv;
				background-color: $color-green;

				.Icon {
					height: 65px;
					width: 65px;
				}
				.Text {
					text-transform: uppercase;
					text-align: center;
					letter-spacing: 1pt;
					color: white;
					font-family: 'Livvic', sans-serif;
					font-weight: 300;
				}
			}
			&Description {
				padding: 2rem 5%;
				letter-spacing: 0.5pt;
				font-size: 1.2rem;
				@media screen and (max-width: $breakpoint-large) {
					font-size: 1rem;
				}
				@media screen and (max-width: $breakpoint-medium) {
					font-size: 0.8rem;
				}
				text-align: justify;
				z-index: 0;
				right: 25%;
				@extend .Serv;
				background-color: $color-section-background;
			}
		}
	}
}
