@import 'sass';

.ServicesMobile {
	@media screen and (max-width: $breakpoint-tablet) {
		display: flex;
	}
	display: none;
	width: 100%;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;

	.Service {
		@include width;
		margin: 0 auto;
		@include bubble-container;
		margin: $margin-sub-section;

		.Bubble {
			@include bubble;
			.BubbleInner {
				@include bubble-inner;
				background-color: $color-section-background;
			}
		}
		.Content {
			height: 25vh;
			padding: 1.5rem 2rem;
			background-color: $color-blue;
			border-radius: 40px;

			.ServName {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 0.5rem;
				.Icon {
					height: 60px;
					width: 60px;
					margin-right: 1rem;
				}
				.Text {
					text-transform: uppercase;
					text-align: center;
					letter-spacing: 1pt;
					color: white;
					font-family: 'Livvic', sans-serif;
					font-size: 1.5rem;
					font-weight: 300;
				}
			}
			.ServDescription {
				// display: none;
				font-size: 14px;
				max-height: 10vh;
				overflow: auto;
			}
		}

		&Show {
			@extend .Service;
			@include bubble-show;
		}
	}
}
