@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin width {
	width: $width-full;
	@media screen and (max-width: $breakpoint-tablet) {
		width: $width-tablet;
	}
	@media screen and (max-width: $breakpoint-mobile) {
		width: $width-mobile;
	}
}

@mixin height-header {
	height: 10vh;
	min-height: 80px;
}
@mixin height-sm {
	height: 25vh;
	min-height: 200px;
}
@mixin height-md {
	height: 30vh;
	min-height: 250px;
}
@mixin height-lg {
	height: 35vh;
	min-height: 300px;
}
@mixin height-xl {
	height: 45vh;
	min-height: 350px;
}

@mixin content-div {
	width: 100%;
	background-color: $color-section-background;
	margin: $margin-sub-section;
	border-radius: 40px;
	// overflow: hidden;
	@media (min-width: $breakpoint-tablet) {
	}
}

@mixin text-padding {
	padding: 6% 12%;
	@media screen and (max-width: $breakpoint-tablet) {
		// padding: 0 5%;
	}
	@media screen and (max-width: $breakpoint-mobile) {
		// padding: 0 2%;
	}
}

@mixin bubble-container {
	// this is responsible for the fading in of each section
	z-index: 0;
	opacity: 0;
	transition: $transition-bubble-appear;
	position: relative;
}

@mixin bubble {
	z-index: -1;
	transition: $transition-bubble-appear;

	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	// this is responsible for the enlarging of each bubble on the fade-in
	padding: 10px;
}

@mixin bubble-inner {
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 40px;
	// this is the transition for any background color changes
	transition: $transition-bubble;
}

@mixin bubble-active {
	// this sets the transition for the bubbles on hover
	transition: $transition-bubble;
	padding: 5px !important;
}

@mixin bubble-show {
	// this is responsible for the fade-in of each bubble
	opacity: 1;
	.Bubble {
		padding: 0px;
	}
}

// @mixin bubble-content {
// 	z-index: 100;
// 	// position: absolute;
// 	// height: 100%;
// 	// width: 100%;
// }
