@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin content-div {
	width: $width-full;
	background-color: $color-section-background;
	margin: $margin-sub-section;
	border-radius: 40px;
	@media (min-width: $breakpoint-tablet) {
	}
}
