@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin width {
	width: $width-full;
	@media screen and (max-width: $breakpoint-tablet) {
		width: $width-tablet;
	}
	@media screen and (max-width: $breakpoint-mobile) {
		width: $width-mobile;
	}
}

@mixin content-div {
	width: $width-full;
	background-color: $color-section-background;
	margin: $margin-sub-section;
	border-radius: 40px;
	// overflow: hidden;
	@media (min-width: $breakpoint-tablet) {
	}
}

@mixin bubble-container {
	z-index: 0;
	opacity: 0;
	transition: $transition-bubble-appear;
}

@mixin bubble {
	z-index: -1;
	transition: $transition-bubble-appear;

	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	// opacity: 0;
	padding: 10px;
}

@mixin bubble-inner {
	position: relative;
	height: 100%;
	width: 100%;
	transition: $transition-bubble;
}

@mixin bubble-active {
	transition: $transition-bubble;
	padding: 3px !important;
}

@mixin bubble-show {
	opacity: 1;
	.Bubble {
		padding: 0px;
	}
}

// @mixin bubble-content {
// 	z-index: 100;
// 	// position: absolute;
// 	// height: 100%;
// 	// width: 100%;
// }
