// ---> COLORS:
// $color-background-main: #c2cadb;
$color-background-main: #f4f4f4;
$color-background-main: #ffffff;
$color-background-main: #d0d0d0;

$color-text-light: #ffffff;
$color-text-dark: #000000;
$color-text-grey: #525252;

$color-section-background: #bfc6d4;
$color-section-background: #ccd1db;
$color-section-background: #818c95;
$color-section-background: #ececec;
$color-section-background: #f8f8f8; // light sections
$color-section-background-2: #ffffff;
$color-navbar: #f8f8f8;

$color-lightblue: #c2cadb;
$color-blue: #415184;

$color-green: #8c9e78;
$color-green: #7d9580;
$color-red: #bd8b8b;
$color-grey-light: #ededed;
$color-grey-dark: #e1e1e1;

// ---> PADDING:
$padding-left: 3%;
$padding-left-mobile: 10px;

// ---> MARGINS:
$width-full: 98%;
$width-tablet: 97%;
$width-mobile: 95%;
$margin-section: 12px auto 0;
$margin-sub-section: 12px auto 0;
$margin: 12px;

// ---> TRANSITIONS & ANIMATIONS:
$transition-fast: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
$transition-bubble: all 0.3s ease-in-out;
$transition-bubble-appear: all 0.4s ease-in-out 0.2s;
$transition-slow: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
$transition-regular: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
// $transition-bubble:

// ---> BREAKPOINTS:
// -----> *** If you change these make sure to change them inside the functional components that use them for animations ***
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1600px;
$breakpoint-desktop: 2100px;

$breakpoint-mobile-landscape: 650px;
