// ---> COLORS:
$color-background-main: #e1e1e1;

$color-text-light: #ffffff;
$color-text-dark: #000000;

$color-section-background: #f8f8f8;
$color-navbar: #f8f8f8;

$color-blue: #849cb5;
$color-yellow: #c6bb60;
$color-green: #7d9580;
$color-red: #bd8b8b;

// ---> PADDING:
$padding-left: 3%;
$padding-left-mobile: 10px;

// ---> MARGINS:
$width-full: 99%;
$width-tablet: 97%;
$width-mobile: 95%;
$margin-section: 20px auto 0;
$margin-sub-section: 8px auto 0;

// ---> TRANSITIONS & ANIMATIONS:
$transition-fast: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
$transition-bubble: all 0.3s ease-in-out;
$transition-bubble-appear: all 0.5s ease-in-out 0.2s;
$transition-slow: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
// $transition-bubble:

// ---> BREAKPOINTS:
// -----> *** If you change these make sure to change them inside the functional components that use them for animations ***
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1600px;
$breakpoint-desktop: 2100px;

$breakpoint-mobile-landscape: 650px;
