@import 'sass';

.Menu {
	position: absolute;
	bottom: 2%;
	height: 45%;
	@media screen and (max-width: $breakpoint-tablet) {
		bottom: 5%;
		height: fit-content;
	}
	width: 75%;
	max-width: 1300px;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	@media screen and (max-width: $breakpoint-tablet) {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	column-gap: $margin;
	row-gap: $margin;

	.MenuHeader {
		font-weight: 500;
		letter-spacing: 1pt;
		transition: $transition-fast;

		color: white;
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
		}

		font-size: 2rem;
		@media screen and (max-width: $breakpoint-desktop) {
			font-size: 1.8rem;
		}
		@media screen and (max-width: $breakpoint-large) {
			font-size: 1.6rem;
		}
		@media screen and (max-width: $breakpoint-medium) {
			font-size: 1.2rem;
		}
		@media screen and (max-width: $breakpoint-tablet) {
			font-size: 1.2rem;
		}
		@media screen and (max-width: $breakpoint-mobile) {
			font-size: 1rem;
		}
	}

	.MenuSection {
		@include bubble-container;
		cursor: pointer;
		position: relative;
		height: 100%;
		width: 100%;

		.Bubble {
			@include bubble;
			.BubbleInner {
				@include bubble-inner;
				border-radius: 20px;
				background-color: rgba($color: #ffffff, $alpha: 0.4);
				backdrop-filter: blur(3px);
			}
		}

		.Content {
			padding: 1.3rem 1.6rem;
			border-radius: 20px;
			cursor: pointer;

			.SubLinks {
				// @media screen and (max-width: $breakpoint-mobile) {
				// 	display: none;
				// }
				margin-left: 3%;
				margin-top: 0.5rem;
				height: fit-content;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.MenuHeader {
					color: rgb(222, 222, 222);
					margin: 0.3rem 0;
					@media screen and (max-width: $breakpoint-tablet) {
						margin: 0.2rem;
						font-size: 1rem;
					}
					@media screen and (max-width: $breakpoint-mobile) {
						margin: 0.1rem;
						font-size: 0.75rem;
					}
				}
			}
		}

		&:hover {
			.Bubble {
				@include bubble-active;
				.BubbleInner {
					background-color: rgba($color: #ffffff, $alpha: 0.3);
				}
			}
		}

		&Show {
			@extend .MenuSection;
			@include bubble-show;
			transition-delay: 0s;
		}
	}

	.About {
		grid-column: 1 / 3;
		grid-row: 1 / 3;
	}

	.Reviews {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}

	.Forms {
		grid-column: 4;
		grid-row: 1 / 2;
	}

	.Contact {
		grid-column: 3 / 5;
		grid-row: 2;
	}
	.Portal {
		display: none;
		@media screen and (max-width: $breakpoint-tablet) {
			display: block;
		}
		span {
			margin-left: 0.5rem;
		}
	}
}
