@import 'sass';

.Intro {
	height: 100vh;
	width: 100vw;
	background-image: url('https://jd-health-and-wellness.s3.us-west-2.amazonaws.com/mt_hood_unsplash_cjdqfv.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	background-position: center 10%;

	.Tint {
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.15);

		.Headers {
			position: absolute;
			transform: translate(-50%, -50%);
			opacity: 0;
			animation: appear 0.75s ease 0.25s forwards;
			left: 50%;
			bottom: 42%;
			@media screen and (max-width: $breakpoint-large) {
				bottom: 50%;
			}
			@media screen and (max-width: $breakpoint-medium) {
				bottom: 55%;
			}
			@media screen and (max-width: $breakpoint-tablet) {
				bottom: 60%;
			}
			@media screen and (max-width: 625px) {
				bottom: 65%;
			}
			@media screen and (max-width: $breakpoint-mobile) {
				bottom: 70%;
			}
			@media screen and (max-width: 400px) {
				bottom: 70%;
			}
			.Title {
				max-width: 75vw;
				display: flex;
				justify-content: center;
				align-items: center;
				letter-spacing: 10pt;

				.JD {
					font-size: 13rem;
					font-weight: 200;
					text-transform: uppercase;
					color: white;
					font-family: 'Kumbh Sans', sans-serif;
					margin-right: 2rem;

					@media screen and (max-width: $breakpoint-large) {
						font-size: 12rem;
					}
					@media screen and (max-width: $breakpoint-medium) {
						font-size: 9rem;
					}
					@media screen and (max-width: $breakpoint-tablet) {
						font-size: 8rem;
						margin-right: 1rem;
						letter-spacing: 8pt;
					}
					@media screen and (max-width: 625px) {
						font-size: 6rem;
						margin-right: 0.5rem;
					}
					@media screen and (max-width: $breakpoint-mobile) {
						font-size: 4rem;
						margin-right: 0.5rem;
					}
					@media screen and (max-width: 400px) {
						font-size: 3.5rem;
						margin-right: 0.5rem;
					}
				}
				.HW {
					font-size: 4.5rem;
					font-weight: 300;
					text-transform: uppercase;
					color: white;
					font-family: 'Inter', sans-serif;

					@media screen and (max-width: $breakpoint-large) {
						font-size: 4rem;
					}
					@media screen and (max-width: $breakpoint-medium) {
						font-size: 3rem;
					}
					@media screen and (max-width: $breakpoint-tablet) {
						font-size: 3rem;
						letter-spacing: 6pt;
					}
					@media screen and (max-width: 625px) {
						font-size: 2rem;
					}
					@media screen and (max-width: $breakpoint-mobile) {
						font-size: 1.5rem;
					}
					@media screen and (max-width: 400px) {
						font-size: 1.25rem;
					}
				}
			}
		}
		.Center {
			position: absolute;
			transform: translate(-50%, 30px);
			left: 50%;
			bottom: 20%;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2rem;

			@keyframes introButtonsFadeInLift {
				from {
					opacity: 0;
					transform: translate(-50%, 30px);
				}
				to {
					opacity: 1;
					transform: translate(-50%, 0px);
				}
			}

			opacity: 0;
			animation: introButtonsFadeInLift 0.75s ease 0.25s forwards;

			.Subtitle {
				color: white;
				font-weight: 300;
				font-size: 2rem;
			}
			.Buttons {
				width: 100%;
				// background-color: white;
				display: flex;
				gap: 3rem;
			}
		}
		.Arrow {
			position: absolute;
			top: 90%;
			left: 50%;
			transform: translateX(-50%);
			@include flex-center;
			font-size: 30px;
			color: white;

			.Bounce {
				position: absolute;
				top: 0;
				animation: bounce 1.5s infinite;
				cursor: pointer;
			}
		}
	}
}
