@import 'sass';

.Navbar {
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 7%;
	min-height: fit-content;
	background-color: none;
	color: black;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: $transition-slow;

	@media screen and (max-width: $breakpoint-tablet) {
		display: none;
	}

	.NavLogo {
		height: 45px;
		cursor: default;
	}

	@mixin shared {
		cursor: pointer;
		text-decoration: none;
		color: black;
		font-size: 1rem;
		@media screen and (max-width: $breakpoint-medium) {
			font-size: 0.8rem;
		}
		@media screen and (max-width: $breakpoint-mobile) {
			font-size: 0.6rem;
		}
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1pt;
		transition: $transition-regular;
	}

	.NavLink {
		@include shared;
		padding: 5px 0;
		border-bottom: 1px solid rgba($color: $color-blue, $alpha: 0);
		@media screen and (max-width: $breakpoint-tablet) {
			display: none;
		}
		display: block;
		cursor: pointer;

		&Hide {
			@extend .NavLink;
			opacity: 0;
		}
	}

	.Current1 {
		border-bottom: 1px solid rgba($color: $color-blue, $alpha: 1);
	}
	.Current2 {
		border-bottom: 1px solid rgba($color: $color-yellow, $alpha: 1);
	}
	.Current3 {
		border-bottom: 1px solid rgba($color: $color-yellow, $alpha: 1);
	}
	.Current4 {
		border-bottom: 1px solid rgba($color: $color-green, $alpha: 1);
	}

	.Portal {
		@include shared;
		border-radius: 20px;
		padding: 8px 25px;
		@media screen and (max-width: $breakpoint-large) {
			padding: 5px 20px;
		}
		background-color: rgba($color: #ffffff, $alpha: 0.4);
		border: 1.5px solid rgba($color: #d8d8d8, $alpha: 0);

		&Scrolled {
			@extend .Portal;
			background-color: rgba($color: #ffffff, $alpha: 1);
			border: 1.5px solid #d8d8d8;
		}
	}

	&Scrolled {
		@extend .Navbar;
		backdrop-filter: blur(10px);
		background-color: rgba($color: $color-navbar, $alpha: 0.55);

		.NavLogo {
			cursor: pointer;
		}

		&0 {
			@extend .NavbarScrolled;
			border-bottom: $color-blue 1px solid;
		}
		&1 {
			@extend .NavbarScrolled;
			border-bottom: $color-blue 1px solid;
		}
		&2 {
			@extend .NavbarScrolled;
			border-bottom: $color-yellow 1px solid;
		}
		&3 {
			@extend .NavbarScrolled;
			border-bottom: $color-yellow 1px solid;
		}
		&4 {
			@extend .NavbarScrolled;
			border-bottom: $color-green 1px solid;
		}
	}
}
