@import 'sass';

.HeaderWrapper {
	display: flex;
	flex-direction: column;
	max-width: 30%;

	@mixin sharedHeader {
		color: $color-green;
		text-transform: uppercase;
		opacity: 0;
		transform: translateX(-100%);
	}

	.Header1 {
		@include sharedHeader();
		align-self: flex-start;

		&Show {
			@extend .Header1;
			animation: fadeInSlideRight 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s forwards;
		}
	}
	.Header2 {
		@include sharedHeader();
		align-self: center;

		&Show {
			@extend .Header2;
			animation: fadeInSlideRight 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.35s forwards;
		}
	}
	.Header3 {
		@include sharedHeader();
		align-self: flex-end;

		&Show {
			@extend .Header3;
			animation: fadeInSlideRight 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s forwards;
		}
	}
}
