@import 'sass';

.HeaderWrapper {
	display: flex;
	flex-direction: column;
	width: 14rem;
	max-width: 30%;

	.Header {
		color: $color-green;
		text-transform: uppercase;

		&1 {
			@extend .Header;
			align-self: flex-start;
		}
		&2 {
			@extend .Header;
			align-self: center;
		}
		&3 {
			@extend .Header;
			align-self: flex-end;
		}
	}
}
