@import 'sass';

.Card {
	height: 25rem;
	@media screen and (max-width: $breakpoint-medium) {
		height: 20rem;
	}
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	.Header {
		padding: 0.5rem 1rem;
		width: 100%;
		height: fit-content;
		min-height: 5rem;
		flex-shrink: 0;
		background-color: $color-green;
		color: white;
	}
	.CardImage {
		width: 100%;
		flex-grow: 1;
		height: 15rem;
		background-size: cover;
		background-position: center;
		filter: grayscale(10%);
		.CardText {
			height: 100%;
			opacity: 0;
			transition: $transition-regular;
			padding: 1rem 1rem 2rem 1rem;
			background-color: rgba($color: $color-blue, $alpha: 0.9);
			color: white;
			overflow: auto;
			p {
				text-align: left;
			}
		}
	}
	&:hover {
		.CardText {
			opacity: 1;
		}
	}
}

.Staff {
	position: relative;
	margin: 0 auto;
	@include width;
	@include bubble-container;

	.Bubble {
		@include bubble;
		.BubbleInner {
			@include bubble-inner;
			background-color: $color-section-background;
		}
	}
	.Content {
		@include content-div;
		// set padding here
		position: relative;
		padding: 2rem 0 4rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		.TextDisplay {
			position: relative;
			height: 150px;
			width: 100%;
			@include flex-center;
			flex-direction: column;
			.StaffInfo {
				margin: 0 auto;
				padding: 0 2%;
				height: fit-content;
				max-height: 95%;
				overflow-y: auto;
				width: 90%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;

				h4 {
					margin-bottom: 0.5rem;
				}

				&Hide {
					@extend .StaffInfo;
					display: none;
				}
			}
			.MovingTextLg {
				position: relative;
				height: 50%;
				width: 100%;
				overflow: hidden;
				.LargeText {
					position: absolute;
					top: 0;
					left: 0;
					color: $color-background-main;
					text-align: center;
					white-space: nowrap;
					font-size: 3rem;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 3pt;
				}
			}
			.MovingTextSm {
				position: relative;
				height: 50%;
				width: 100%;
				overflow: hidden;
				h1 {
					position: absolute;
					right: 0;
					top: 0;
					white-space: nowrap;
					font-weight: 300;
					color: $color-blue;
					text-transform: uppercase;
					text-align: center;
				}
			}
		}
		.Carousel {
			margin: 2rem auto;
			position: relative;
			width: 90%;
			max-width: 75rem;
		}
	}

	&Show {
		@extend .Staff;
		@include bubble-show;
	}
}
