@import 'sass';

.CardOuter {
	height: 23rem;
	@media screen and (max-width: $breakpoint-medium) {
		height: 18rem;
	}
	padding-top: 3rem;
	border-radius: 10px;
	overflow: hidden;

	.CardInner {
		position: relative;
		height: 20rem;
		@media screen and (max-width: $breakpoint-medium) {
			height: 15rem;
		}
		overflow: visible;

		.Circle {
			z-index: 100;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $color-card-background;
			border: 1px solid $color-grey-dark;
			border-radius: 50%;
			height: 6rem;
			width: 6rem;
			padding: 0.5rem;
			@include flex-center;

			.Caption {
				font-size: 0.8rem;
				font-weight: 500;
				text-align: center;
				color: $color-blue;
			}
		}

		.Card {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			border-radius: 10px;
			border: 1px solid $color-grey-dark;
			background-color: $color-card-background;
			overflow: hidden;
			cursor: pointer;

			.CardContent {
				position: absolute;
				opacity: 1;
				transition: $transition-regular;
				z-index: 10;
				width: 100%;
				height: 100%;
				padding-top: 5rem;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				.Header {
					flex-shrink: 0;
					color: black;
					color: $color-blue;
					text-transform: uppercase;
					max-width: 90%;
					font-weight: 400;
					text-align: center;
					white-space: wrap;
					line-height: 1.5rem;
				}
				.CardImage {
					height: 9rem;
					width: 9rem;
					margin-bottom: 2rem;
					background-size: cover;
					background-position: center;
					border: 1px solid $color-grey-dark;
					border-radius: 10px;
					filter: grayscale(20%);
				}
			}
			.CardBg {
				z-index: 2;
				position: absolute;
				bottom: 0;
				width: 100%;
				border-radius: 0 0 10px 10px;
				opacity: 0.5;
			}
			.CardText {
				position: absolute;
				opacity: 0;
				transition: $transition-regular;
				z-index: 10;
				width: 100%;
				height: 100%;
				padding: 4rem 2rem 2rem;
				border-radius: 10px;
				background-color: rgba($color: $color-blue, $alpha: 0.75);
				overflow: scroll;
				p {
					font-weight: 400;
					color: white;
				}
			}
			&:hover {
				.CardContent {
					opacity: 0;
				}
				.CardText {
					opacity: 1;
				}
			}
		}
	}
}

.Staff {
	position: relative;
	overflow: hidden;
	height: fit-content;
	@include section;

	.TextDisplay {
		margin: 0 0 6rem;
		position: relative;
		height: 150px;
		width: 100%;
		@include flex-center;
		flex-direction: column;
		.MovingTextLg {
			position: relative;
			height: 50%;
			width: 100%;
			overflow: hidden;
			.LargeText {
				position: absolute;
				top: 0;
				left: 0;
				color: $color-background-main;
				text-align: center;
				white-space: nowrap;
				font-size: 4rem;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 2pt;
			}
		}
		.MovingTextSm {
			position: relative;
			height: 50%;
			width: 100%;
			overflow: hidden;
			.SmallText {
				position: absolute;
				right: 0;
				bottom: 0;
				white-space: nowrap;
				font-weight: 300;
				font-size: 3rem;
				letter-spacing: 2pt;
				color: $color-blue;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}

	.InnerWrapper {
		@include section-inner;
		padding-bottom: 2rem;

		.AboutSubSection {
			padding: 0 5%;
			gap: 0;

			.Content {
				@include section-content;

				.Carousel {
					margin: 2rem auto;
					position: relative;
					width: 100%;
					max-width: 75rem;
				}
			}

			&Show {
				@extend .Staff;
				@include bubble-show;
			}
		}
	}
}
