@import 'sass';

.Forms {
	position: relative;
	margin: 0 auto;
	@include width;
	@include bubble-container;

	.Bubble {
		@include bubble;
		.BubbleInner {
			@include bubble-inner;
			background-color: $color-section-background;
		}
	}
	.Content {
		@include content-div;
		// set padding here
		position: relative;
		padding: 2rem 0 4rem;
		@include flex-center;
		flex-direction: column;

		.FormsContainer {
			position: relative;
			@include width-inner;
			margin: $margin-section;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			column-gap: $margin;
			row-gap: $margin;

			.Form {
				@include bubble-container;
				.FormBubble {
					@include bubble;
					.FormBubbleInner {
						@include bubble-inner;
						display: flex;
						flex-direction: column;
						.Top {
							border-radius: 20px 20px 0 0;
							height: 65%;
							width: 100%;
							// background-color: $color-background-main;
							border: 2px solid $color-background-main;
							border-bottom: none;
						}
						.Bottom {
							border-radius: 0 0 20px 20px;
							height: 35%;
							width: 100%;
							background-color: $color-green;
						}
					}
				}
				.FormContent {
					@include height-sm;
					cursor: pointer;
					border-radius: 20px;
					overflow: hidden;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					a {
						cursor: pointer;
						height: 100%;
						width: 100%;
					}
					.FormWrapper {
						height: 100%;
						width: 100%;
					}
					.FormTitle {
						position: relative;
						width: 100%;
						height: 65%;
						@include flex-center;
						flex-direction: column;
						justify-content: flex-start;
						padding: 2.5rem 1rem;
						h3 {
							text-transform: uppercase;
							text-align: center;
						}
						.SelectLanguage {
							position: absolute;
							// height: 100%;
							width: 100%;
							bottom: 0;
							display: flex;
							opacity: 0;
							transition: $transition-regular;

							.Language {
								height: 3rem;
								width: 100%;
								text-align: center;
								text-transform: uppercase;
								@include flex-center;
								cursor: pointer;
								&:hover {
									h4 {
										border-bottom: 1px solid $color-blue;
									}
								}
							}
						}
					}
					.Button {
						width: 100%;
						height: 35%;
						@include flex-center;
					}
					&:hover {
						.SelectLanguage {
							opacity: 1;
						}
					}
				}

				&:hover {
					.FormBubble {
						@include bubble-active;
					}
				}

				&Show {
					@extend .Form;
					opacity: 1;
					.FormBubble {
						padding: 0px;
					}
				}
			}
		}
	}
	&Show {
		@extend .Forms;
		@include bubble-show;
	}
}
