@import 'sass';

.Forms {
	position: relative;
	overflow: hidden;
	height: fit-content;
	@include section;

	.InnerWrapper {
		@include section-inner;

		.AboutSubSection {
			@include subsection-flex-column;
			gap: 2rem;

			.Content {
				opacity: 0;

				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				column-gap: 8rem;
				row-gap: 3rem;
				width: 90%;
				margin: 1rem 0 1rem 2rem;

				@media screen and (max-width: $breakpoint-medium) {
					width: 90%;
					margin: 1rem 0 0 2rem;
					column-gap: 2rem;
					row-gap: 2rem;
				}

				.Form {
					position: relative;
					height: 11rem;
					display: flex;
					align-items: center;
					cursor: pointer;
					transition: $transition-regular;
					@media screen and (max-width: $breakpoint-medium) {
						height: 8rem;
					}

					.FormImage {
						height: 100%;
					}
					.FormLabel {
						transition: $transition-regular;
						background-color: $color-green;
						height: 99%;
						width: 10rem;
						@media screen and (max-width: $breakpoint-medium) {
							width: 14rem;
						}
						@include flex-center;
						padding: 0.5rem 1rem;
						border-radius: 5px 0 0 5px;

						h3 {
							color: white;
							font-weight: 500;
							font-size: 1.5rem;
							line-height: 1.75rem;
						}
					}

					&:hover {
						.FormLabel {
							background-color: $color-yellow;
						}
					}
				}

				&Show {
					@extend .Content;
					animation: fadeInLift 0.75s ease forwards;
				}
			}
		}
	}
}
