@import 'sass';

.About {
	height: fit-content;
	width: 100%;

	.Content {
		@include content-div;
		@include flex-center;
		padding: 100px 200px;
	}

	.Services {
		width: $width-full;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		.Service {
			width: 100%;
			height: 300px;
			margin: $margin-sub-section;

			display: flex;
			justify-content: space-between;
			align-items: center;

			.Service {
				width: calc(50% - 10px);
				height: 100%;
				border-radius: 40px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				&Name {
					@extend .Service;
					background-color: $color-blue;

					.Icon {
						height: 75px;
						width: 75px;
					}
					.Text {
						text-transform: uppercase;
						letter-spacing: 1pt;
						color: white;
						font-family: 'Livvic', sans-serif;
						font-size: 4rem;
						@media screen and (max-width: $breakpoint-large) {
							font-size: 3rem;
						}
						@media screen and (max-width: $breakpoint-medium) {
							font-size: 2.5rem;
						}
						@media screen and (max-width: $breakpoint-tablet) {
							font-size: 2rem;
						}
						font-weight: 200;
					}
				}
				&Description {
					@extend .Service;
					background-color: $color-section-background;
				}
			}
		}
	}
}
