@import 'sass';

.AboutSection {
	height: fit-content;
	width: 100%;
	margin-top: 15px;

	.About {
		position: relative;
		@include width;
		margin: 0 auto;
		@include bubble-container;

		.Bubble {
			@include bubble;
			.BubbleInner {
				@include bubble-inner;
				background-color: $color-section-background;
			}
		}
		.Content {
			@include content-div;
			@include flex-center;
			flex-direction: column;
			padding: 1rem 3rem 4rem;
			@media screen and (max-width: $breakpoint-mobile) {
				padding: 2rem 3rem;
			}

			.WhoWeAre {
				width: 100%;
				@include flex-center;
				flex-direction: column;

				.IntroText {
					width: 70%;
					max-width: 80rem;
					text-align: justify;
					opacity: 0;
					@media screen and (max-width: $breakpoint-medium) {
						max-width: 40rem;
					}

					&Show {
						@extend .IntroText;
						animation: fadeInLift 0.75s ease forwards;
					}
				}
			}
			.Story {
				width: 100%;
				@include flex-center;
				flex-direction: column;
				.VideoContainer {
					margin-top: 1rem;
					width: 60rem;
					max-width: 90vw;
					height: fit-content;
					overflow: hidden;
					opacity: 0;

					video {
						border-radius: 10px;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					&Show {
						@extend .VideoContainer;
						animation: fadeInLift 0.75s ease forwards;
					}
				}
			}
			.SpinnerContainer {
				height: 150px;
				width: 150px;
				position: relative;
				margin-top: 3rem;
				.Circle {
					height: 150px;
					width: 150px;
					position: absolute;
					border-radius: 50%;
					border: 0.5px solid $color-blue;
					// right: 30px;
					// bottom: 25px;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					@include flex-center;
					color: $color-blue;
					background-color: $color-lightblue;
					font-size: 25px;

					@media screen and (max-width: $breakpoint-tablet) {
						display: none;
					}

					.CircleText {
						position: absolute;
						top: 7%;
						left: 7%;
						height: 86%;
						width: 86%;
						transform: rotateZ(0deg);
						// transform: rotateZ(90deg);
					}
				}
			}
		}

		&Show {
			@extend .About;
			@include bubble-show;
		}
	}

	.CTA {
		position: relative;
		@include width;
		margin: 0 auto;
		@include bubble-container;

		.Bubble {
			@include bubble;
			.BubbleInner {
				@include bubble-inner;
				background-color: $color-section-background;
			}
		}
		.Content {
			@include content-div;
			@include flex-center;
			flex-direction: column;
			padding: 50px 20px;
			@media screen and (max-width: $breakpoint-tablet) {
				padding: 30px 20px;
			}
			h1 {
				// width: 100%;
				color: $color-blue;
				margin-bottom: 0.5rem;
				text-transform: uppercase;
				text-align: center;
			}
			h2 {
				color: $color-green;
				text-transform: uppercase;
				text-align: center;
			}
		}

		&Show {
			@extend .CTA;
			@include bubble-show;
		}
	}

	.Video {
		position: relative;
		@include width;
		margin: $margin-section;
		@include bubble-container;

		.Bubble {
			@include bubble;
			.BubbleInner {
				@include bubble-inner;
				background-color: $color-section-background;
			}
		}
		.Content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding: 3rem 0;
			.MovingTextLg {
				margin-bottom: 2rem;
				position: relative;
				height: 5rem;
				width: 100%;
				overflow: hidden;
				.LargeText {
					position: absolute;
					top: 0;
					left: 0;
					color: $color-background-main;
					text-align: center;
					white-space: nowrap;
					font-size: 3rem;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 3pt;
				}
			}
			.VideoContainer {
				width: 50rem;
				max-width: 90vw;
				height: fit-content;
				overflow: hidden;

				video {
					border-radius: 10px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&Show {
			@extend .Video;
			@include bubble-show;
		}
	}

	.Community {
		position: relative;
		margin: 0 auto;
		@include width;
		@include bubble-container;

		.Bubble {
			@include bubble;
			.BubbleInner {
				@include bubble-inner;
				// set background color
			}
		}
		.Content {
			@include content-div;
			// set padding here
			height: 30vh;
			width: 100%;
			min-height: 400px;
			overflow: hidden;

			.Links {
				position: relative;
				height: 100%;
				width: 100%;
				display: grid;
				grid-template-rows: repeat(4, 1fr);

				a {
					list-style: none;
					&:nth-child(2n) {
						background-color: $color-grey-light;
					}
					.Link {
						position: relative;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 0 3rem;
						@media screen and (max-width: $breakpoint-tablet) {
							padding: 0 2rem;
						}

						.Article {
							height: 100%;
							width: 60%;
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: flex-start;
						}
					}
				}
			}
		}

		&Show {
			@extend .Community;
			@include bubble-show;
		}
	}
}
