@import 'sass';

.About {
	height: fit-content;
	width: 100%;
	margin-top: 15px;
	// display: flex;
	// flex-direction: column;
	// align-items: center;

	.AboutText {
		position: relative;
		@include width;
		margin: 0 auto;
		@include bubble-container;

		.Bubble {
			@include bubble;
			.BubbleInner {
				@include bubble-inner;
				background-color: $color-section-background;
			}
		}
		.Content {
			@include content-div;
			@include flex-center;
			@include text-padding;

			.Circle {
				height: calc(100vw * 0.08);
				max-height: 100px;
				width: calc(100vw * 0.08);
				max-width: 100px;
				position: absolute;
				border-radius: 50%;
				border: 0.5px solid $color-blue;
				right: 30px;
				bottom: 25px;
				@include flex-center;
				color: $color-blue;
				font-size: 25px;

				.CircleText {
					position: absolute;
					top: 7%;
					left: 7%;
					height: 86%;
					width: 86%;
					transform: rotateZ(0deg);
					// transform: rotateZ(90deg);
				}
			}
		}

		&Show {
			@extend .AboutText;
			@include bubble-show;
		}
	}

	.CTA {
		position: relative;
		@include width;
		margin: 0 auto;
		@include bubble-container;

		.Bubble {
			@include bubble;
			.BubbleInner {
				@include bubble-inner;
				background-color: $color-section-background;
			}
		}
		.Content {
			@include content-div;
			@include flex-center;
			flex-direction: column;
			padding: 50px 20px;
			@media screen and (max-width: $breakpoint-tablet) {
				padding: 30px 20px;
			}
			h1 {
				// width: 100%;
				color: $color-red;
				margin-bottom: 10px;
				text-transform: uppercase;
				text-align: center;
			}
			h2 {
				color: $color-blue;
				text-transform: uppercase;
				text-align: center;
			}
		}

		&Show {
			@extend .CTA;
			@include bubble-show;
		}
	}

	.Community {
		position: relative;
		margin: 0 auto;
		@include width;
		@include bubble-container;

		.Bubble {
			@include bubble;
			.BubbleInner {
				@include bubble-inner;
				// set background color
			}
		}
		.Content {
			@include content-div;
			// set padding here
			height: 30vh;
			width: 100%;
			min-height: 400px;
			overflow: hidden;

			.Links {
				position: relative;
				height: 100%;
				width: 100%;
				display: grid;
				grid-template-rows: repeat(4, 1fr);
			}

			.Link {
				&:nth-child(2n) {
					background-color: $color-grey-light;
				}

				position: relative;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 5%;

				.Article {
					height: 100%;
					width: 60%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
				}
			}
		}

		&Show {
			@extend .Community;
			@include bubble-show;
		}
	}
}
