@import 'sass';

.Button {
	position: relative;
	flex-shrink: 0;
	background-color: $color-section-background;
	@include flex-center;
	border-radius: 50%;
	cursor: pointer;
	transition: $transition-bubble-appear;

	&:active {
		opacity: 0.8;
	}

	.Arrow {
		font-family: 'Koho', serif;
		width: 100%;
		line-height: 1;
		text-align: center;
	}
	.About {
		color: $color-blue;
	}
	.Reviews {
		color: rgba($color: $color-yellow, $alpha: 0.6);
	}
	.Forms {
		color: rgba($color: $color-yellow, $alpha: 0.6);
	}
	.Contact {
		color: $color-green;
	}
}

.large {
	height: 70px;
	width: 70px;

	.Arrow {
		font-size: 50px;
		font-weight: 900;
	}
}

.medium {
	height: 60px;
	width: 60px;
	.Arrow {
		font-size: 45px;
		font-weight: 900;
	}
}

.small {
	height: 50px;
	width: 50px;
	.Arrow {
		font-size: 40px;
		font-weight: 900;
	}
}

.Active {
	transition: $transition-bubble;
	background-color: $color-background-main;
}

.Disabled {
	background-color: rgba($color: $color-background-main, $alpha: 0.5);
	cursor: default;
}
