@import 'sass';

.ServicesMobile {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	.Service {
		@include width;
		margin: 0 auto;
		@include bubble-container;
		margin: $margin-sub-section;

		.Bubble {
			@include bubble;
			.BubbleInner {
				@include bubble-inner;
				background-color: $color-section-background;
			}
		}
		.Content {
			height: fit-content;
			min-height: 12rem;
			padding: 1.5rem 2rem;
			background-color: $color-green;
			border-radius: 20px;

			.ServName {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 1rem;
				.Icon {
					height: 60px;
					width: 60px;
					@media screen and (max-width: $breakpoint-mobile) {
						height: 50px;
						width: 50px;
					}
					margin-right: 1rem;
				}
				.Text {
					text-transform: uppercase;
					text-align: center;
					letter-spacing: 1pt;
					color: white;
					font-family: 'Livvic', sans-serif;
					font-weight: 300;
					@media screen and (max-width: $breakpoint-mobile) {
						font-size: 1.25rem;
					}
				}
			}
			.ServDescription {
				font-size: 14px;
				height: fit-content;
				max-height: 7rem;
				overflow: auto;
			}
		}

		&Show {
			@extend .Service;
			@include bubble-show;
		}
	}
}
