@import 'sass';

* {
	font-family: 'Darker Grotesque', sans-serif;
}

h1 {
	color: $color-green;
	font-family: 'Raleway', sans-serif;
	font-size: 4rem;
	line-height: 5rem;
	font-weight: 400;
	letter-spacing: 2pt;
	@media screen and (max-width: $breakpoint-desktop) {
		font-size: 3.5rem;
		line-height: 4.5rem;
	}
	@media screen and (max-width: $breakpoint-large) {
		font-size: 3rem;
		line-height: 4rem;
	}
	@media screen and (max-width: $breakpoint-medium) {
	}
	@media screen and (max-width: $breakpoint-tablet) {
		font-size: 2rem;
		line-height: 3rem;
	}
}
h2 {
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 2pt;
	@media screen and (max-width: $breakpoint-desktop) {
		font-size: 2.5rem;
	}
	@media screen and (max-width: $breakpoint-large) {
		font-size: 2.25rem;
	}
	@media screen and (max-width: $breakpoint-medium) {
		font-size: 2rem;
	}
	@media screen and (max-width: $breakpoint-tablet) {
		font-size: 1.5rem;
	}
}

h3 {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 1.75rem;
	font-weight: 500;
	letter-spacing: 1pt;
	@media screen and (max-width: $breakpoint-desktop) {
		// font-size: 1.5rem;
	}
	@media screen and (max-width: $breakpoint-large) {
	}
	@media screen and (max-width: $breakpoint-medium) {
		font-size: 1.25rem;
	}
}
h4 {
	font-weight: 300;
	letter-spacing: 1pt;

	font-size: 1.5rem;
	@media screen and (max-width: $breakpoint-desktop) {
		font-size: 1.25rem;
	}
	@media screen and (max-width: $breakpoint-large) {
		font-size: 1rem;
	}
}

p {
	font-size: 1.35rem;
	font-weight: 400;
	letter-spacing: 1pt;
	line-height: 1.5;
	text-align: justify;
	font-family: 'Darker Grotesque', sans-serif;
	@media screen and (max-width: $breakpoint-medium) {
		font-size: 1rem;
	}
}

a {
	text-decoration: none;
	color: black;
}

.App {
	background-color: $color-background-main;
	height: 100%;
	width: 100%;
	position: absolute;
}
