@import 'sass';

* {
	font-family: 'KoHo', 'Roboto', sans-serif;
}

h1 {
}
h2 {
	@media screen and (max-width: $breakpoint-desktop) {
	}
	@media screen and (max-width: $breakpoint-large) {
	}
	@media screen and (max-width: $breakpoint-medium) {
	}
	@media screen and (max-width: $breakpoint-tablet) {
	}
	@media screen and (max-width: $breakpoint-mobile) {
	}
}
h3 {
}
h4 {
	font-weight: 500;
	letter-spacing: 1pt;
	transition: $transition-fast;

	font-size: 2rem;
	@media screen and (max-width: $breakpoint-desktop) {
		font-size: 1.8rem;
	}
	@media screen and (max-width: $breakpoint-large) {
		font-size: 1.6rem;
	}
	@media screen and (max-width: $breakpoint-medium) {
		font-size: 1.2rem;
	}
	@media screen and (max-width: $breakpoint-tablet) {
		font-size: 1rem;
	}
	@media screen and (max-width: $breakpoint-mobile) {
	}
}
p {
	font-size: 2rem;
	font-weight: 300;
	// line-height: 1.8rem;
	letter-spacing: 1pt;
	text-align: justify;
}

a {
	text-decoration: none;
	color: black;
}

.App {
	background-color: $color-background-main;
	height: 100%;
	width: 100%;
	position: absolute;
}
