@import 'sass';

// .ExampleSection {
// 	position: relative;
// 	margin: 0 auto;
// 	@include width;
// 	@include bubble-container;

// 	.Bubble {
// 		@include bubble;
// 		.BubbleInner {
// 			@include bubble-inner;
// 			// set background color
// 		}
// 	}
// 	.Content {
// 		@include content-div;
// 		// set padding here
// 	}

// 	&Show {
// 		@extend .ExampleSection;
// 		@include bubble-show;
// 	}
// }

* {
	font-family: 'KoHo', 'Roboto', sans-serif;
}

h1 {
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 2pt;
	@media screen and (max-width: $breakpoint-desktop) {
		font-size: 2.5rem;
	}
	@media screen and (max-width: $breakpoint-large) {
		font-size: 2.25rem;
	}
	@media screen and (max-width: $breakpoint-medium) {
		font-size: 2rem;
	}
	@media screen and (max-width: $breakpoint-tablet) {
		font-size: 1.5rem;
	}
}
h2 {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.5pt;
	@media screen and (max-width: $breakpoint-desktop) {
		font-size: 2rem;
	}
	@media screen and (max-width: $breakpoint-medium) {
		font-size: 1.5rem;
	}
}
h3 {
	font-size: 1.75rem;
	font-weight: 400;
	letter-spacing: 1pt;
	@media screen and (max-width: $breakpoint-desktop) {
		font-size: 1.5rem;
	}
	@media screen and (max-width: $breakpoint-large) {
	}
	@media screen and (max-width: $breakpoint-medium) {
		font-size: 1.25rem;
	}
}
h4 {
	font-weight: 300;
	letter-spacing: 1pt;

	font-size: 1.5rem;
	@media screen and (max-width: $breakpoint-desktop) {
		font-size: 1.25rem;
	}
	@media screen and (max-width: $breakpoint-large) {
		font-size: 1rem;
	}
}

p {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 1pt;
	line-height: 1.5;
	text-align: justify;
	// @media screen and (max-width: $breakpoint-large) {
	// 	font-size: 1rem;
	// }
	@media screen and (max-width: $breakpoint-medium) {
		font-size: 0.9rem;
	}
}

a {
	text-decoration: none;
	color: black;
}

.App {
	background-color: $color-background-main;
	height: 100%;
	width: 100%;
	position: absolute;
}
